// main: ./style.less

#content{
	float: right;
	top: @top-bar-height;
	#sidebar-wrapper {
		ul li{
			margin: 30px;
			text-decoration: none;
			list-style-type: none;
		}
	}
	// &::before {
	// 	position: absolute;
	// 	content: "";
	// 	display: block;
	// 	width: 155px;
	// 	height: 50px;
	// 	top: 11px;
	// 	right: -43px;
	// 	background-color: rgba(236, 236, 236, 0.5);
	// 	-webkit-transform: rotate(45deg);
	// 	transform: rotate(45deg);
	// }

	}
