// main: ./style.less
#sidebar-left {
    .container {
        ul {
            list-style: none;
            padding-left: 0;
            li {
                padding-left: 32px;
                position: relative;
                margin-bottom: 8px;
                a {
                    color: black !important;
                    font-size: 14px;
                    font-weight: 400;
                }
                i {
                    position: absolute;
                    left: 0;
                    top: 0px;
                    color: @brand-primary;
                }
            }
        }
        .add_project {
            width:  @side-bar-width;
            i {
                color: @brand-primary;
                cursor: pointer;
            }
            .project-add {
                color: @brand-primary;
                font-size: 14px;
                min-height: 24px;
                display: inline-flex;
                align-items: center;

            }
            .form {
                form {
                    width: 50%;
                    .project {
                        display: block;
                        width: 80%;
                        border: 1px solid @concrete;
                        padding: 6px;
                        width: 100%;
                         &:focus{
                            outline: none;
                        }
                    }
                    button{
                        font-size: 12px;
                        display: block;
                        background-color: @brand-primary;
                        color: #fff;
                        padding-top: 4px;
                        padding-bottom: 4px;
                        padding-left: 8px;
                        padding-right: 8px;
                        margin-top: 4px;
                        border: none;
                        .border-radius(2px);

                    }

                    input::-webkit-input-placeholder{
                        font-size: 14px;
                        font-weight: 400;
                        text-align: center;
                    }
            }
            }
        }
    }
}
