// main: ./style.less
@brand-primary: #e74c3c;
@brand-secondary: #EB8B2D;

@top-bar-height: 64px;


@concrete:                  #dddddd;
@asbestos:                  #7f8c8d;
@silver:	                #bdc3c7;
@dirty-white: 				#F7F8F9;
@inverse:                   white;
@black:						black;
@cream: 					#BFC3C2;
