
	<h3 id="section-title">
			{{heading}}
	</h3>

	<div class="container">
		<div class="row">
			<div class="col-sm-11">
				<table class="table">
				 <thead>
					 <tr>
						 <th>DueDate</th>
						 <th>Task Name</th>
						 <th>Project</th>
						 <th>Action</th>
					 </tr>
				 </thead>
				 <tbody>
					 <tr ng-repeat="task in tasks">
						 <td>{{task.DueDate}}</td>
						 <td>{{task.Name}}</td>
						 <td> <span ng-show="task.ProjectName">{{task.ProjectName}}</span> <span ng-show="!task.ProjectName">No Project</span> </td>
						 <td><button type="button" class="btn-danger" ng-click="delete(task._id)">Delete</button> <button type="button" class="btn-danger" ng-click="taskInfo(task)">Info</button> </td>
					 </tr>
				 </tbody>
			 </table>
			</div>
		</div>
	</div>
