.navbar-default {
	min-height: 40px;
	height: 43px;
	max-height: 44px !important;
	border-bottom: solid 1px #ca2100 !important;
    background-color: #db4c3f !important;
	position: relative;
    z-index: -1;
  }

.navbar a {
	color: black !important;
}

body{
    padding:10px;
}

.show-on-hover:hover > dropdown-menu {
    display: block;    
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #db4c3f !important;