
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Create A New Project.<small>It's easy!</small></h3>
          <div class="panel-body">
            <form role="form">
              <div class="row">
  	    				<div class="col-xs-12 col-sm-12 col-md-12">
  	    					<div class="form-group">
                    <label>Project Name:</label>
  	                <input class="form-control input-sm" placeholder="Project Name" ng-model="name">
  	    					</div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="form-group">
                    <label>Description</label>
                    <textarea ng-model="desc" style="width: 100%;"></textarea>
      			    	</div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <input type="submit" value="Confirm" class="btn btn-info btn-danger" ng-click='newProject()'>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
