
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Edit your project Status.<small>It's easy!</small></h3>
          <div class="panel-body">
            <form class="form-group">
              <ui-select ng-model="user.status" theme="bootstrap">
                <ui-select-match>{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="s in statuss" >{{s}}</ui-select-choices>
              </ui-select>

              <button ng-click='editStatus(project._id)'>Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
