
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Users in this project<small> psst.. your an admin!</small></h3>
          <div class="panel-body">
            <div class="row">
  	    			<div class="col-xs-6 col-sm-6 col-md-6">
  	    					<div class="form-group" ng-repeat="u in users">
                    <i class="material-icons delete" ng-click='unlinkuser(project._id, u._id)'>highlight_off</i>
                    <li>
                      <span>{{u.UserName}}</span>
                    </li>
  	    					</div>
  	    			</div>
          </div>
        </div>
      </div>
    </div>
  </div>
