
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Project Users.</h3>
          <div class="panel-body">
            <table class="table">
              <thead>
                <th>Action:</th>
                <th>Name:</th>
              </thead>
              <tbody>
                <tr ng-repeat="u in users">
                  <td class="btn btn-danger" ng-click="unlinkuser(project._id, u._id)">Delete User</td>
                  <td>{{u.UserName}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
