<div class="container">
  <div class="logo">
    <i class="material-icons">check_circle</i>
  </div>
  <div class="search">
    <ui-select ng-model="project.selected" theme="bootstrap" on-select="stateFind($item, $model)">
      <ui-select-match>{{$select.selected.Name}}</ui-select-match>
      <ui-select-choices repeat="p in projects | filter: $select.search">{{p.Name}}</ui-select-choices>
    </ui-select>
  </div>
  <div class="actions">

    <!-- <div class="action">
      <a href="" ng-click="showform()"><i class="material-icons">note_add</i></a>
      <form ng-show="form">

        <input type="text" ng-model="name" placeholder="Task" class="task">

          <div class="extra">
            <select ng-model="project" ng-options="p.Name for p in projects">
            </select>
            <i class="material-icons open-datetimepicker">date_range</i>
            <input id="datepicker" ng-model="duedate">
          </div>

        <button type="submit" ng-click="newTask()">Add Task</button>
      </form>
    </div> -->

    <div class="action">
      <a href="" ng-click='logout()'><i class="material-icons">exit_to_app</i></a>
    </div>

  </div>
</div>
