
    <div class="logo">
      <i class="material-icons">check_circle</i>
    </div>

    <div class="actions" style="float: right; margin-left: 10px; margin-right: 10px;">
      <div class="action">
        <a href="" ng-click='logout()' class="logout"><i class="material-icons">exit_to_app</i></a>
      </div>
    </div>


    <div class="search" style="width: 25%; float: right;">
      <div style="width: 100%;">
        <ui-select ng-model="project.selected" on-select="stateFind($item, $model)">
          <ui-select-match>{{$select.selected.Name}}</ui-select-match>
          <ui-select-choices repeat="p in projects | filter: $select.search">{{p.Name}}</ui-select-choices>
        </ui-select>
      </div>
    </div>


  </div>
