  <label style="font-size: 17px; margin-top: 20px;">Username</label>
  <span style="font-size: 17px;">{{user.UserName}}</span>
  <hr>
  <div>
    <h3 id="section-title" style="display: inline;">Tasks</h3>
    <button type="button" class="btn btn-danger" ng-click="openAddTaskModal()" style="float: right; display: inline;">Add Task</button>
  </div>

  <div class="date-filters">
    <ul>
        <li>
            <a ng-click='inbox()'>All Tasks</a>
        </li>
        <li>
            <a ng-click='today()'>Today</a>
        </li>
        <li>
            <a ng-click='week()'>Next 7 Days</a>
        </li>
    </ul>
    </div>
    <hr>
    <div>
      <h3 id="section-title" style="display: inline;">Projects</h3>
      <button type="button" class="btn btn-danger" ng-click="openAddProjectModal()" style="float: right; display: inline;">Add Project</button>
    </div>

    <div class="projects-s">
      <ul>
        <li ng-repeat="p in projects" class="p">
          <a ng-click="projectpage(p._id)">
            {{p.Name}}
          </a>
        </li>
      </ul>
    </div>
