
		<h3 id="section-title">
			Project Name: {{project.Name}}
		</h3>

		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<table class="table">
					 <thead>
						 <tr>
							 <th>Action</th>
							 <th>DueDate</th>
							 <th>Task Name</th>
						 </tr>
					 </thead>
					 <tbody>
						 <tr ng-repeat="task in tasks">
							 <td><button type="button" class="btn-danger" ng-click="delete(task._id)">Delete</button> <button type="button" class="btn-danger" ng-click="taskInfo(task)">Info</button></td>
							 <td>{{task.DueDate}}</td>
							 <td>{{task.Name}}</td>
							 <td ng-show="task.ProjectName">{{task.ProjectName}}</td>
						 </tr>
					 </tbody>
				 </table>
				</div>
				<div class="col-sm-4" id="sidebar-wrapper" ng-show="admin">
						<ul style="cursor:pointer;">
							<li><span ng-click='openDescriptionModal()' class="btn btn-danger btn-lg">Description</span></li>
							<li><span ng-click='openLinkUserModal()' class="btn btn-danger btn-lg">New User</span></li>
							<li><span ng-click='openTaskModal()' class="btn btn-danger btn-lg">New Task</span></li>
							<li><span ng-click='removeYourself(project._id)' class="btn btn-danger btn-lg">Remove Yourself</span></li>
							<li><span ng-click="deleteProject(project._id)" class="btn btn-danger btn-lg" >Delete Project</span></li>
							<hr>
							<li><span ng-click="usersClick()" class="btn btn-danger btn-lg">Users</span></li>
						</ul>
					</div>
			</div>
		</div>
