
<div class="container-fluid">

			<h3 class="heading section-title" id="menu-toggle">
				{{project.Name}}
				<!-- - {{project.Status}} -->
					<div id="sidebar-wrapper">
					  <ul class="sidebar-nav">
							<li><span ng-click='openStatusModal()'>Change Status</span></li>
							<li><span ng-click='openLinkUserModal()'>New User</span></li>
							<li><span ng-click='openTaskModal()'>New Task</span></li>
							<li><span ng-click="deleteProject(project._id)">Delete Project</span></li>
							<li class="users" ng-show="admin"><span ng-click="openUsers()">Users</span></li>
					  </ul>
					</div>
				</div>
			</h3>
			<div class="tasks">
				<div class="list-wrapper" ng-class="{'error' : allTasks=='error'}">
					<div class="list" ng-hide="allTasks=='error'" ng-cloak>
						<form>
							<div class="item" ng-repeat="task in tasks">
								<input type="checkbox" id="task-{{$index}}" ng-true-value="'completed'" ng-false-value="'todo'" ng-model="task.status" ng-change="completeTask(task)" ng-click="delete(task._id)"/>
								<label for="task-{{$index}}">{{ task.Name }} | {{task.DueDate}} | {{task.ProjectName}}<span></span></label>
							</div>
						</form>
					</div>
				</div>
			</div>
</div>
